h3(id=node.id)
  a(href=`#${node.id}`) #{node.signature.str}

p.description #{node.description}
if node.detail
  p.detail #{node.detail}

if node.signature.parameters.length > 0
  h4 Parameters
  ul
    each param in node.signature.parameters
      li
        code #{param.name}
        | #{param.type}
        if param.description
          |  - #{param.description}
        if param.properties
          ul
            each property in param.properties
              li
                code #{property.property.name}
                | #{property.property.type}
                if property.description
                  |  - #{property.description}

if node.signature.returnType
  h4 Return
  code #{node.signature.returnType}
