extends page.pug

//- Display a link with chosen state.
mixin switch(text, href, chosen)
  if chosen
    span.current #{text}
  else
    a(href=href) #{text}

mixin item(dir, node)
  li
    h3
      a(href=`${dir}/${node.id}.html`) #{node.name}
    if node.description
      != ' ' + imarkdown(node.description)

mixin items(filter)
  ul
    each type in types
      if type.component == filter
        +item('api', type)

block content
  h1 Docs Index
  #index
    .column.guide
      h2 Guides
      ul
        each guide in guides
          +item('guides', guide)

    .column.api
      .column
        h2 Components
        +items('gui')

      .column
        h2 Structures
        +items()

block sidebar
  h4 Langauge:
  .lang-switcher
    +switch('C++', `../cpp/index.html`, lang == 'cpp',
            !doc.lang || doc.lang.includes('cpp'))
    |  | 
    +switch('Lua', `../lua/index.html`, lang == 'lua',
            !doc.lang || doc.lang.includes('lua'))
    |  | 
    +switch('JavaScript', `../js/index.html`, lang == 'js',
            !doc.lang || doc.lang.includes('js'))

  h4 Version:
  span.current #{version}
